<!-- [# version: 6.4.1 #] -->
<div>
  <div>
    <div style="display: block">
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
        [colors]="barChartColors"
        (chartClick)="ChartClicked($event)"
      >
      </canvas>
    </div>
    <div class="btn-group" *ngIf="indicador.btn">
      <button
        class="btn btn-outline-success"
        color="primary"
        (click)="Get_Data()"
      >
        <i class="icon-refresh"></i>
      </button>
      <button
        class="btn btn-outline-danger"
        color="primary"
        (click)="Delete_Filter()"
      >
        <i class="icon-close"></i>
      </button>
    </div>
  </div>
</div>
