<!-- [# version: 6.4.3 #] -->
<div
  class="modal fade"
  id="mdl_lista_sectores"
  tabindex="-1"
  aria-labelledby="mdl_lista_sectores"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
         {{this.language.lbl_selecciona_sector}}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="">
          <ul class="">
            <li
              class="nav-item nav-link border-bottom"
              *ngFor="let item of sectores"
            >
              <a
                data-bs-dismiss="modal"
                (click)="On_Item_Sector_Select(item)"
                class="dropdown-item icon"
                >{{ item.NomSector }}</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
