<!-- [# version: 7.5.6 #] -->
<div class="text-center height-container p-5">
  <app-navbar    
    [menus_items]="menu_items"
    [items]="items"
    [items_headers]="items_headers"
    [modulo]="modulo"
    (On_Item_Click)="Item_NavBar_Click($event)"
    (On_Item_Change)="Item_NavBar_Change($event)"
  >
  </app-navbar>
  <app-header-info
    label="Eventos"
    [show_expira]="false"
    [count]="items.length"
  ></app-header-info>
  <app-dynamic-table
    *ngIf="items.length"
    [items]="items"
    [editar]="editar"
    [IDAccion]="IDEvento"
    [items_headers]="items_headers"
    [btn_items]="btns_items"
    [IDData]="'IDEvento'"
    (On_Item_Click)="Item_NavBar_Click($event)"
  ></app-dynamic-table>
</div>
<app-tool-lista-sectores
  (On_Sector_Select)="On_Item_Sector_Select($event)"
></app-tool-lista-sectores>
