<div class="jumbotron">
    <h1>API 3</h1>
    <p class="lead">API 3 para Sistema de Recopilación y Evaluación de Daños</p>
    <p><a href="https://www.youtube.com/watch?v=KyG3-wAYV3E" class="btn btn-primary btn-lg">Aprenda más &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>SIRED Centroamérica</h2>
        <p>Versión que incluye las plataformas para Guatemala, Honduras y Panamá</p>
        <p><a class="btn btn-default" href="https://sired.site">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>SIRED Dominicana</h2>
        <p>Versión para República Dominicana</p>
        <p><a class="btn btn-default" href="https://sired.gob.do">Learn more &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>*@
</div>
